page-dashboard {
    font-family: Varela Round;
    .first-row{
        margin-top:40px;
    }
    
    .course-title{
        color: #337ab7;
    }

    .university-title{
        color:#2ecc71;
    }

    .second-row{
        margin-top: 50px;
    }

    .course-faculty{
        color: darkgreen;
    }

    .compare-course{
        color: #da920c;
    }

    .third-row{
        margin-top: 50px;
    }

    .knowledge-platform{
        color: blue;
    }

    .activity-center{
        color: #fd2020;
    }

    .compare-university{
        color: black;
    }
   
}
