page-listfaculty {

    font-family: Varela Round;

    .heading-table{
    margin-top: 50px;
    font-weight: bold;
    background-color: lightgrey;
    
}
.content-table{
    background-color: white;
}
.border{
    border: 1px solid black;
}
  .search-bar{
        border: 1px solid grey;
    }
}
