page-activityplatform {
    font-family: Varela Round;
    .card{
       box-shadow: 5px 5px 5px lightgrey;
    }
    .card-content{
        height:auto;
    }
    .title{
        font-weight: bold;
    }
    .label{
        font-weight: bold;
    }
    .logo{
        margin-top:auto;
        margin-bottom: auto;
    }
}
