page-comparecourses {

    font-family: Varela Round;

    .search-bar-first{
        border: 1px solid #cccccc;
    }


    .search-bar-second{
        border: 1px solid #cccccc;
        margin-top:20px;
    }

    .btn{
        margin-top:20px;
    }
    .first-course{
        border: 1px solid grey;
    }

    .first-course{
        margin-top: 50px;
    }
}
